.detailedDescription {
    width: 50%;
    margin: auto;
}

.detailedTitle {
    font-size: 24px;
}

.detailedDate {
    font-size: 20px;
}

.detailedErrorCtnr {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
}

.detailedCtnr .poster {
    margin-top: 20px;
    box-shadow: 5px 5px 3px black;
}

.detailedCtnr .isBackdrop {
    margin-top: 45%;
}

.detailedCtnr .backdrop {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.detailedNotFound {
    width: 20%;
}
.detailedCtnr .btn-ctnr {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.detailedCtnr .btn-ctnr .modify {
    background-color: darkcyan;
    padding: 10px;
}

.detailedCtnr .btn-ctnr .modify:hover {
    background-color: cadetblue;
}

.detailedCtnr .btn-ctnr .delete {
    background-color: brown;
}


.detailedCtnr .btn-ctnr .delete:hover {
    background-color: crimson;
}

.detailedCtnr .btn-ctnr .back {
    background-color: skyblue;
    padding: 10px;
    margin: 0 20px;
}

.detailedCtnr .btn-ctnr .back:hover {
    background-color: cornflowerblue;
}
.modify ,.delete, .back {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .detailedDescription {
        width: 90%;
    }
}