.movieCard {
    display: flex;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 20px;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
}

.movieCard .text {
    max-width: 80%;
    margin: auto;
}

.movieCard .img-responsive {
    width: 150px;
}

.movieCard .text-ctnr {
    max-width: 90%;
}

.movieCard .btn-ctnr {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.movieCard .modify {
    background-color: cadetblue;
    color: white;
    width: 80px;
    height: 25px;
    margin-right: 20px;
    border-radius: 30px;
}

.movieCard .delete {
    background-color: brown;
    color: white;
    width: 90px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.modify ,.delete {
    text-decoration: none;
} 

@media screen and (max-width: 768px) {

    .movieCard {
        flex-direction: column;
    }

    .movieCard .text {
        text-align: justify;
        max-width: 90%;
        margin: auto;
    }

    .movieCard .text-ctnr {
        margin: auto;
    }

    .movieCard .img-responsive {
        max-width: 50%;
        margin: auto;
        width: auto;
    }
}