.addForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    margin: auto;
}

.addForm label {
  margin: 5px 0 5px 0;
}

.addForm input {
  margin: 5px 0 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.addForm .addSubmit:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}



.addForm .actors, .addForm .similars, .addForm .categories {
    display: flex;
    flex-direction: column;
}

.addForm input {
    margin: 10px 0;
}

.addForm .addSubmit {
    width: 30% ;
    margin: 10px auto;
    background-color: skyblue;
    font-size: 16px;
    border: none;
  }

.addDescription {
    height: 120px;
}
