.actorCtnr {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px auto;
    justify-content: space-around;
}

.actorCtnr img {
    width: 100%;
    margin-top: 10px;
}

.actor {
    width: 15%;
    min-width: 205px;
    margin: 10px;
}

.actor div h3, 
.actor div h4 {
    margin: 5px auto;
}