.similarCtnr {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px auto;
    justify-content: space-around;
}

.similarCtnr img {
    width: 100%;
    margin-top: 10px;
}

.similar {
    width: 15%;
    min-width: 205px;
}

.similar div h3, 
.similar div h4 {
    margin: 5px auto;
}